; Instanciação das imagens com o índice que será resgatado no rally.asm

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\direita_mau.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\cima_mau.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\esquerda_mau.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\baixo_mau.bmp"

104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fumacinha.bmp"

105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\background_lado_jogo.bmp"
107 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\background.bmp"
109 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\menu.bmp"

110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\win.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\game_over.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\parede.bmp"
114 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\bandeirinha.bmp"

115 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\direita.bmp"
116 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\cima.bmp"
117 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\esquerda.bmp"
118 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\baixo.bmp"
119 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\vida.bmp"